
<div class="container">
<table class="table table-dark table-striped" cellspacing="10" cellpadding="10">
    <thead>
      <tr>
        <th scope="col">Countrynames</th>
        <th scope="col">Currencies</th>
        
        
      </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let e of  country">
            <td>{{e.name.common}}</td>
            <td><span *ngFor="let c of e.currencies | keyvalue">{{c.key}} </span></td>
          
        </tr>
         
      
        
   </table> 
  </div>